name: tp_router_annotation
description: Annotations for tp_router.
version: 0.6.2
homepage: https://github.com/lwj1994/tp_router

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
